/*
.sidebar-menu .treeview-menu > li > a,
.sidebar-menu > li.treeview > a, .sidebar-menu > li > a  {
  font-size: 12px;
}
*/
.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.screenblocker {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(128, 128, 128, 0.1);
  tab-index: -1;
}

#vLoading.screenblocker {
  z-index: 1090;
}

.spinner {
  position: relative;
  margin: 5px auto 0px auto;
  width: 240px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #FF7777;
  height: 100%;
  width: 40px;
  border-radius: 50%;
  margin-right: 3px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scale(0.4, 0.4)
  }
  20% {
    -webkit-transform: scale(1.0, 1.0)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
  }
  20% {
    transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.0, 1.0);
  }
}

.xlist-view .breadcrumb, .xform-tambah-edit .breadcrumb, .xform-edit .breadcrumb {
  background-color: transparent;
  font-size: small;
  padding: 4px 0 0 0;
  margin-bottom: 0;
}

.box-header .breadcrumb {
  background-color: transparent;
  font-size: small;
  padding: 4px 0 0 0;
  margin-bottom: 0;
}

.xlist-view .breadcrumb.anggaran, .xform-tambah-edit .breadcrumb.anggaran, .xform-edit .breadcrumb.anggaran {
  font-size: medium;
}

.xlist-view table tbody tr {
  cursor: pointer;
}

.splash
{
  margin: 20px auto;
  text-align: center;
}

/********************************\
****   CUSTOM JQUERY UI CSS   ****
\********************************/
.date-field {position: relative; z-index:100;}

/********************************\
****   CUSTOM TIME PICKER CSS   ****
\********************************/
.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}

/********************************\
****   CUSTOM BOOTSTRAP CSS   ****
\********************************/
/*
@media (min-width: 768px) {
  .input-sm {
    padding: 1px 5px;
    height: auto;
  }
  .form-horizontal .control-label {
    padding-top: 0px;
  }
  .form-horizontal .form-group {
    margin-bottom: 3px;
  }
  .form-horizontal .checkbox {
    min-height: 20px;
    padding-top: 0px;
  }
  .form-control, 
  .input-group > .form-control, 
  .input-group > .input-group-addon {
    padding: 1px 5px;
    height: 22px;
  }
}

.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > thead > tr > th {
  white-space: nowrap;
  padding: 1px 8px;
  font-size: 12px;
}

.table-responsive > .table > tfoot > tr > td.footer-control {
  padding: 10px;
}

hr {
  margin: 10px 0px 5px 0px;
}

.treeview-menu > .divider {
  background-color: #3d4c52;
  height: 1px;
}

#tombolSKPD {
  padding-left: 15px;
  padding-right: 15px;
}



div.box-triwulan
{
  width: 150px;
  font-weight: bold;
  margin: 0 auto;
}
*/
table.totalinfo > thead > tr > th,
table.totalinfo > thead > tr > td,
table.totalinfo > tbody > tr > th,
table.totalinfo > tbody > tr > td,
table.totalinfo > tfoot > tr > th,
table.totalinfo > tfoot > tr > td {
  padding-left: 20px;
  text-align: right;
  font-weight: bold;
}

button i.fa
{
  padding-right: 3px;
}


.btn-siksda {
  padding-left: 15px;
  padding-right: 15px;
}

/*********************************\
****   CUSTOM DATATABLES CSS   ****
\*********************************/
.dataTables_wrapper .dataTables_footctrl
{
  float: left;
  padding-top: 0.7em;
  padding-left: 1.5em;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, 
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td,
table.dataTable tbody td {
  vertical-align: top;
}
tr.group, tr.group:hover {
  background-color: #ddd !important;
  font-weight: bold;
}
